{{ template "base" . }}

{{ define "css" }}
<link rel="stylesheet" href="/statics/design/panel.css">
{{ end }}

{{ define "content" }}
<main id="panel">
  <header id="panel-header">
    <h1>Bloggo</h1>

    <nav id="panel-nav">
      <button id="panel-logout"
        onclick="document.cookie = 'token=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;'; window.location.href = '/auth/login';"
      >
        Logout
      </button>
    </nav>
  </header>

  <section id="panel-content">
    {{ template "panel" . }}
  </section>
</main>
{{ end }}