{{ template "base" . }} {{ define "css-extra" }}
<link rel="stylesheet" href="/static/design/auth.css" />
{{ end }} {{ define "content" }}
<body>
  <main>
    <hgroup>
      <img
        src="/static/assets/bloggo.webp"
        width="128"
        height="128"
        alt="Bloggo Logo"
      />

      <h1>Bloggo</h1>

      <strong>Your Own Blog CMS</strong>
    </hgroup>

    <form action="/api/auth/login" method="post" class="auth-form">
      <input type="email" placeholder="Email" />

      <input type="password" placeholder="Password" />

      <button type="submit">Login</button>
    </form>
  </main>
</body>
{{ end }}
