{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title>{{ .Title }} - Bloggo</title>
    <link rel="stylesheet" href="/static/design/global.css" />
    <link rel="icon" href="/static/assets/favicon.ico" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"
    />
    {{ block "css" . }} {{ end }} {{ block "behavior" . }} {{ end }} {{ block
    "components" . }} {{ end }}
  </head>
  {{ block "content" . }} {{ end }}
</html>
{{ end }}
